
.card {
display: flex;
align-items: center;
margin: 0.5rem;
    
}

.colorBoton{
    color: slateblue;
    background-color: lightsteelblue;
}

.colorBoton:hover {
    background-color: plum;
    color: darkgray;
}
